<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Macondo+Swash+Caps&family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
</head>
<body>
	<div th:replace="~{partial/header}"></div>
	<div id="modiform" class="formular">
		<h2>Update New Rule</h2>
		<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<div class="element">
				<label for="name" class="col-sm-2 control-label">Name :</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{name}" id="name" placeholder="Name" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>
			</div>
			<div class="element">
				<label for="description" class="col-sm-2 control-label">Description :</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{description}" id="description" placeholder="Description" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
				</div>
			</div>
			<div class="element">
				<label for="json" class="col-sm-2 control-label">json :</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{json}" id="json" placeholder="json" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></p>
				</div>
			</div>
			<div class="element">
				<label for="template" class="col-sm-2 control-label">template :</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{template}" id="template" placeholder="template" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></p>
				</div>
			</div>
			<div class="element">
				<label for="sqlStr" class="col-sm-2 control-label">sql :</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sqlStr}" id="sqlStr" placeholder="sql" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></p>
				</div>
			</div>
			<div class="element">
				<label for="sqlPart" class="col-sm-2 control-label">sqlPart :</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sqlPart}" id="sqlPart" placeholder="sqlPart" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></p>
				</div>
			</div>

			<div class="btns">
				<input type="hidden" th:field="*{id}">
				<input class="btn btn-primary btn-sm" type="submit" value="Add RuleName">
				<a class="btn btn-danger btn-sm" href="/ruleName/list">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>