<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Macondo+Swash+Caps&family=Pirata+One&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Over+the+Rainbow&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>-->
</head>
<body>
	<div th:replace="~{partial/header}"></div>
	<div th:if="${#httpServletRequest.remoteUser != null}">
		<div th:replace="~{partial/menu}"></div>
    </div>
	<div id="main">
		<div id="liste">
			<h2>Bid List</h2>
			<a href="/bidList/add" id="ajout">Add New</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Account</th>
						<th>Type</th>
						<th>Bid Quantity</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bid : ${bidList}">
						<td style="width: 10%" th:text="${bid.BidListId}"></td>
						<td th:text="${bid.account}"></td>
						<td th:text="${bid.type}"></td>
						<td style="width: 25%" th:text="${bid.bidQuantity}"></td>
						<td style="width: 15%" class="text-center">
							<a th:href="@{/bidList/update/{id}(id=${bid.BidListId})}">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/bidList/delete/{id}(id=${bid.BidListId})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>